# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Take on Rules Commands'
      'submenu': [
        {
          'label': 'Wrap ABBR'
          'command': 'takeonrules-commands:wrapAbbr'
        }
      ]
    ]
  }
]
